@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-auto min-h-screen w-screen max-w-[100vw] overflow-x-hidden bg-brand-primary-08 text-brand-primary-00;
    font-family: "Poppins", sans-serif;
  }

  #__next {
    @apply relative flex min-h-screen w-full flex-col;
  }
}

@layer utilities {
  .display-regular {
    font-size: 3.75rem;
    font-weight: 400;
    font-style: normal;
    line-height: 82px;
    text-decoration: none;
    text-transform: none;
  }
  .display-medium {
    font-size: 3.75rem;
    font-weight: 500;
    font-style: normal;
    line-height: 82px;
    text-decoration: none;
    text-transform: none;
  }
  .display-semibold {
    font-size: 3.75rem;
    font-weight: 600;
    font-style: normal;
    line-height: 82px;
    text-decoration: none;
    text-transform: none;
  }
  .display-bold {
    font-size: 3.75rem;
    font-weight: 700;
    font-style: normal;
    line-height: 82px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h1-regular {
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
    line-height: 64px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h1-medium {
    font-size: 3rem;
    font-weight: 500;
    font-style: normal;
    line-height: 64px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h1-semibold {
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    line-height: 64px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h1-bold {
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
    line-height: 64px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h2-regular {
    font-size: 2.25rem;
    font-weight: 400;
    font-style: normal;
    line-height: 46px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h2-medium {
    font-size: 2.25rem;
    font-weight: 500;
    font-style: normal;
    line-height: 46px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h2-semibold {
    font-size: 2.25rem;
    font-weight: 600;
    font-style: normal;
    line-height: 46px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h2-bold {
    font-size: 2.25rem;
    font-weight: 700;
    font-style: normal;
    line-height: 46px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h3-regular {
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 44px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h3-medium {
    font-size: 2rem;
    font-weight: 500;
    font-style: normal;
    line-height: 44px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h3-semibold {
    font-size: 2rem;
    font-weight: 600;
    font-style: normal;
    line-height: 44px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h3-bold {
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    line-height: 44px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h4-regular {
    font-size: 1.75rem;
    font-weight: 400;
    font-style: normal;
    line-height: 38px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h4-medium {
    font-size: 1.75rem;
    font-weight: 500;
    font-style: normal;
    line-height: 38px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h4-semibold {
    font-size: 1.75rem;
    font-weight: 600;
    font-style: normal;
    line-height: 38px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h4-bold {
    font-size: 1.75rem;
    font-weight: 700;
    font-style: normal;
    line-height: 38px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h5-regular {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h5-medium {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    line-height: 32px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h5-semibold {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    line-height: 32px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h5-bold {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    line-height: 32px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h6-regular {
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h6-medium {
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h6-semibold {
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    line-height: 26px;
    text-decoration: none;
    text-transform: none;
  }
  .heading-h6-bold {
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    line-height: 26px;
    text-decoration: none;
    text-transform: none;
  }
  .text-18-regular {
    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    text-decoration: none;
    text-transform: none;
  }
  .text-18-medium {
    font-size: 1.125rem;
    font-weight: 500;
    font-style: normal;
    line-height: 23px;
    text-decoration: none;
    text-transform: none;
  }
  .text-18-semibold {
    font-size: 1.125rem;
    font-weight: 600;
    font-style: normal;
    line-height: 23px;
    text-decoration: none;
    text-transform: none;
  }
  .text-18-bold {
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
    line-height: 23px;
    text-decoration: none;
    text-transform: none;
  }
  .text-16-regular {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
  }
  .text-16-medium {
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
  }
  .text-16-semibold {
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
  }
  .text-16-bold {
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
  }
  .text-14-regular {
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
    line-height: 17px;
    text-decoration: none;
    text-transform: none;
  }
  .text-14-medium {
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    text-decoration: none;
    text-transform: none;
  }
  .text-14-semibold {
    font-size: 0.875rem;
    font-weight: 600;
    font-style: normal;
    line-height: 17px;
    text-decoration: none;
    text-transform: none;
  }
  .text-14-bold {
    font-size: 0.875rem;
    font-weight: 700;
    font-style: normal;
    line-height: 17px;
    text-decoration: none;
    text-transform: none;
  }
  .text-12-regular {
    font-size: 0.75rem;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
  }
  .text-12-medium {
    font-size: 0.75rem;
    font-weight: 500;
    font-style: normal;
    line-height: 14px;
    text-decoration: none;
    text-transform: none;
  }
  .text-12-semibold {
    font-size: 0.75rem;
    font-weight: 600;
    font-style: normal;
    line-height: 14px;
    text-decoration: none;
    text-transform: none;
  }
  .text-12-bold {
    font-size: 0.75rem;
    font-weight: 700;
    font-style: normal;
    line-height: 14px;
    text-decoration: none;
    text-transform: none;
  }
  .label-18-regular {
    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
    text-decoration: none;
    text-transform: none;
  }
  .label-18-medium {
    font-size: 1.125rem;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
    text-decoration: none;
    text-transform: none;
  }
  .label-18-semibold {
    font-size: 1.125rem;
    font-weight: 600;
    font-style: normal;
    line-height: 19px;
    text-decoration: none;
    text-transform: none;
  }
  .label-18-bold {
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
    line-height: 19px;
    text-decoration: none;
    text-transform: none;
  }
  .label-16-regular {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
  }
  .label-16-medium {
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
  }
  .label-16-semibold {
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
  }
  .label-16-bold {
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
  }
  .label-14-regular {
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
    line-height: 13px;
    text-decoration: none;
    text-transform: none;
  }
  .label-14-medium {
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    line-height: 13px;
    text-decoration: none;
    text-transform: none;
  }
  .label-14-semibold {
    font-size: 0.875rem;
    font-weight: 600;
    font-style: normal;
    line-height: 13px;
    text-decoration: none;
    text-transform: none;
  }
  .label-14-bold {
    font-size: 0.875rem;
    font-weight: 700;
    font-style: normal;
    line-height: 13px;
    text-decoration: none;
    text-transform: none;
  }
  .label-12-regular {
    font-size: 0.75rem;
    font-weight: 400;
    font-style: normal;
    line-height: 10px;
    text-decoration: none;
    text-transform: none;
  }
  .label-12-medium {
    font-size: 0.75rem;
    font-weight: 500;
    font-style: normal;
    line-height: 10px;
    text-decoration: none;
    text-transform: none;
  }
  .label-12-semibold {
    font-size: 0.75rem;
    font-weight: 600;
    font-style: normal;
    line-height: 10px;
    text-decoration: none;
    text-transform: none;
  }
  .label-12-bold {
    font-size: 0.75rem;
    font-weight: 700;
    font-style: normal;
    line-height: 10px;
    text-decoration: none;
    text-transform: none;
  }
}
